body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

#productList {
    margin-bottom: 20px;
}

.product {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.cartItem {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    margin-top: 5px;
}
